body {
    background-color: white;
    font-family: Georgia;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    color: black;
    margin-right: 300px;
    margin-left: 300px;
}
h2 {
    color: black;
    margin-right: 300px;
    margin-left: 300px;
}
h4 {
    color: black;
    margin-right: 300px;
    margin-left: 300px;
}
h5 {
    color: black;
    margin-right: 300px;
    margin-left: 300px;
}
