.Heading {
    background-color: white;
    font-family: "Trebuchet MS";
    background-image: url("computer_desk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body {
    background-color: white;
    font-family: "Trebuchet MS";
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    background-image: url("h1background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #ff362f;
    margin-right: fill;
    margin-left: fill;
}
h2 {
    color: #ff362f;
    margin-right: 50px;
    margin-left: 50px;
}
h3 {
    color: black;
}
h4, h5 {
    color: black;
    margin-right: 50px;
    margin-left: 50px;
}