<!doctype html>
<html>
<head>
    <!-- links the html file to the css file-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- This is the about me section -->
    <div class="Heading">
        <center><img src="/static/face.png" /></center>
    </div>
    <h2><strong><center>
        Hello, my name is Cristhian and welcome to my online portfolio!
    </center></strong></h2>
    <h1><strong><center>
        About Me
    </center></strong></h1>
    <h4><center>
        I am a recent Computer Engineering Dean's list grad and still
        learning! Learning is so much fun to me that I've made it an
        effort to teach myself a new skill every 2 months, from just
        learning how to juggle to even playing ukulele. I have experience
        into various programming languages, and specialize in Python and C++.

    </center></h4>
    <h5><em><center>
        Contact Me
        <br/>
        cristhian.suriel@gmail.com ●
        <a href="https://www.linkedin.com/in/cristhian-suriel" target="_blank"><img src="/static/linkedin_icon.png" /></a> ●
        <a href="https://www.github.com/CristhianSuriel" target="_blank"><img src="/static/github_icon.png" /></a>
    </center></em></h5>
    <!-- This section contains my projects -->
    <h1><strong><center>
        My Projects
    </center></strong></h1>
    <ul>
        <li><h2><strong>
            This Online portfolio!
        </strong></h2>
        <h4>
            This web online portfolio is a project of my own! I been
            working on it using python, HTML, and CSS and is built
            entirely on the flask framework. Although this online portfolio
            is still under works I very much will continue to improve it
            with time
        </h4></li>
        <li><h2><strong>
            Movie Theater Data Environment
        </strong></h2>
        <h4>
            Using SQL and Python I was able to built an application that could
            add, remove, fetch, and update data from a database. This application
            keeps track of the memberships of guests from a movie theater as well
            as the purchased ticket history of each
        </h4></li>
        <li><h2><strong>
            8x8 LED Letter Display8x8 LED Letter Display
        </strong></h2>
        <h4>
            Built a program with Arduino to make
            user-selected letters appear on an 8x8 LED display.
            Designed and built circuitry to be used with the display
        </h4></li>
        <li><h2><strong>
            Manually Controlled Digital Ping Pong Game
        </strong></h2>
        <h4>
            Programmed a fully functional ping pong game using
            Arduino and Processing. Designed and built circuitry
            to be used as game controllers
        </h4></li>
        <li><h2><strong>
            Light Responsive Greenhouse
        </strong></h2>
        <h4>
            Built a model greenhouse with a light-sensitive
            retractable roof by using simple electronics. Created
            a software capable of self-sustaining the mechanism and
            collect data from the sensor on Raspbian using Python

        </h4></li>
        <li><h2><strong>
            Arduino Elevator
        </strong></h2>
        <h4>
            Designed, constructed, and wired four-story model
            elevator. Programmed elevator to follow specific
            commands to open and close the elevator door, going
            up and down the floors using Arduino software and mechanics
        </h4></li>
    </ul>
    <!-- This section contains my work experiences -->
    <h1><strong><center>Work Experience</center></strong></h1>
    <ul>
        <li><h2><strong>
            Lead Instructor at CodeAdvantage LLC
        </strong></h2>
        <h4>
            I teach kids from 7- 13 years of age how to code from
            simple stuff like printing Hello World to more advanced
            topics like Object-Oriented Programming. Additionally
            I work with other instructors to teach kids about the
            importance of technology and about robotics
        </h4></li>
    </ul>
    <hr/>
    <h5>
        Copyright © 2020 Cristhian Suriel. All rights reserved.
    </h5>
</body>
</html>