<!doctype html>
<html>
<head>
    <!-- links the html file to the css file-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- This is the about me section -->
    <h1><strong><center>
        About me
    </center></strong></h1>
    <center><img src="/static/face.png" /></center>
    <h2><strong>
        Hello my name is Cristhian. Welcome to my online portfolio
    </strong></h2>
    <h4>
        I am a recent Computer Engineering Dean's list grad and still
        learning! I have experience into various programming languages,
        and specialize in python, java, and c++.
    </h4>
    <h5><em><center>
        Contact Me
        <br/>
        cristhian.suriel@gmail.com ● www.linkedin.com/in/cristhian-suriel ● www.github.com/CristhianSuriel
    </center></em></h5>
    <hr/>
    <!-- This section contains my projects -->
    <h1><strong><center>
        My Projects
    </center></strong></h1>
    <ul>
        <h2><strong>
            Title of the project
        </strong></h2>
        <h4>
            Talk about the project
        </h4>
    </ul>
    <hr/>
    <!-- This section contains my work experiences -->
    <h1><strong><center>Work Experience</center></strong></h1>
    <ul>
        <li><h2><strong>
            Title of the job
        </strong></h2>
        <h4>
            Talk about the job
        </h4></li>
    </ul>
</body>
</html>