<!doctype html>
<html>
<head>
    <!-- links the html file to the css file-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- This is the about me section -->
    <h1><strong><center>
        About me
    </center></strong></h1>
    <center><img src="/static/face.png" /></center>
    <h2><strong>
        Hello my name is Cristhian. Welcome to my online portfolio
    </strong></h2>
    <h4>
        I am a recent Computer Engineering Dean's list grad and still
        learning! I have experience into various programming languages,
        and specialize in python, java, and c++.
    </h4>
    <h5><em><center>
        Contact Me
        <br/>
        cristhian.suriel@gmail.com ● www.linkedin.com/in/cristhian-suriel ● www.github.com/CristhianSuriel
    </center></em></h5>
    <hr/>
    <!-- This section contains my projects -->
    <h1><strong><center>
        My Projects
    </center></strong></h1>
    <ul>
        <li><h2><strong>
            8x8 LED Letter Display8x8 LED Letter Display
        </strong></h2>
        <h4>
            Built a program with Arduino to make
            user-selected letters appear on an 8x8 LED display.
            Designed and built circuitry to be used with the display
        </h4></li>
        <li><h2><strong>
            Manually Controlled Digital Ping Pong Game
        </strong></h2>
        <h4>
            Programmed a fully functional ping pong game using
            Arduino and Processing. Designed and built circuitry
            to be used as game controllers
        </h4></li>
        <li><h2><strong>
            Light Responsive Greenhouse
        </strong></h2>
        <h4>
            Built a model greenhouse with a light-sensitive
            retractable roof by using simple electronics. Created a
            software capable of self-sustaining the mechanism by
            using Raspbian operating system and Python

        </h4></li>
        <li><h2><strong>
            Arduino Elevator
        </strong></h2>
        <h4>
            Designed, constructed, and wired four-story model
            elevator. Programmed elevator to follow specific
            commands using Arduino software and mechanics
        </h4></li>
        <li><h2><strong>
            Detective Game Android Application
        </strong></h2>
        <h4>
            Designed and programmed single-player problem-solving
            detective game using Python programming language.
            Troubleshot the game to fix multiple bugs and errors
        </h4></li>
        <li><h2><strong>
            Musical Instrument Android Application
        </strong></h2>
        <h4>
            Led a group to build an android application that allowed
            users to play a guitar and drum set. Troubleshot the
            application using Python programming
        </h4></li>
    </ul>
    <hr/>
    <!-- This section contains my work experiences -->
    <h1><strong><center>Work Experience</center></strong></h1>
    <ul>
        <li><h2><strong>
            Title of the job
        </strong></h2>
        <h4>
            Talk about the job
        </h4></li>
    </ul>
</body>
</html>